mat-card{
    width: 500px;
    margin: auto;
    margin-top: 2rem;
    padding: 30px 20px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
mat-form-field{
    margin: 15px 0;
    width: 100%;
}
button{
    margin: 20px;
    width: 150px;
}
mat-radio-group{
    width: 100%;
}
mat-radio-button{
    margin: 10px 15px;
}