<mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
            <form action="">
                <mat-form-field>
                    <mat-label>Username</mat-label>
                    <input type="text" required matInput>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input type="password" required matInput>
                </mat-form-field>
                <button type="submit" mat-raised-button color="primary">Login</button>
            </form>
    </mat-card-content>
</mat-card>
